html,
body {
    margin: 0;
    padding: 0;
    min-width: 500px;
}

body {
    font-size: 0.8em;
}

.text-sm {
    font-size: 0.6em;
    color: #666;
}

.title {
    font-size: 1em;
    max-height: 15px;
    overflow: hidden;
}

input {
    font-size: 14px;
    border: 1px solid #237cc1;
    border-radius: 6px;
    padding: 5px;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.btn-delete {
    background: #fac32d;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 13px;
    border: 5px solid white;
}

.description,
.content {
    font-size: 0.6em;
    color: #666;
    padding-top: 5px;
    max-height: 100px;
    overflow: hidden;
}

.hide {
    display: none;
}

.warning {
    color: #ff6b00;
}

.pad-t-10 {
    padding-top: 10px;
}

.pad-t-20 {
    padding-top: 20px;
}

.pad-10 {
    padding: 10px;
}

.marg-t-10 {
    margin-top: 10px;
}

.marg-l-5 {
    margin-left: 5px;
}