<div class="item board" data-id="{id}" data-title="{title}" data-uniquename="{uniquename}" data-is_public="{is_public}">
    <link rel="stylesheet" href="/components/board/board.css">
    <div class="content-section">{title}</div>
    <div class="function-section">
        <div class="toggle-section">
            <button class="toggle-button">
            </button>
            <span class="permission">{permission}</span>
        </div>
    </div>
    <button class="fa fa-link btn-link"></button>
    <button class="fa fa-icon fa-times-circle remove"></button>
</div>