.board {
    display: flex;
}

.board .remove {
    font-size: 20px;
    color: #e89b4b;
    margin-left: 20px;
}

.board .content-section {
    width: 70%;
}

.board .function-section {
    display: flex;
    width: 15%;
}

.board .function-section .toggle-section {
    display: flex;
    align-items: center;
}

.board .function-section .toggle-section .permission {
    margin-left: 10px;
}

.board .btn-link {
    font-size: 20px;
    color: rgb(36, 192, 193);
    margin-left: 40px;
}