/* Common */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: helvetica;
    font-size: 14px;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
}

a,
.link {
    color: #24c0c1;
}

.dark a,
.dark .link {
    color: #90d9bf;
}

.dark a:visited {
    color: #90d9bf;
}

.dark button {
    color: #b0b0b0;
}

button,
.btn {
    cursor: pointer;
    user-select: none;
}

a:visited {
    color: #24c0c1
}

button {
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.pad-tb-10 {
    padding: 10px 0;
}

.pad-tb-15 {
    padding: 15px 0;
}

.pad-rl-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.pad-t-20 {
    padding-top: 20px;
}

.marg-t-10 {
    margin-top: 10px;
}

.marg-l-10 {
    margin-left: 10px;
}

.marg-l-20 {
    margin-left: 20px;
}

.marg-t-20 {
    margin-top: 20px;
}

.vert-mid {
    align-items: center;
    display: flex;
}

.hide,
.template {
    display: none !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

.desc {
    color: #666 !important;
    font-size: 0.6em;
}

.toggle-button {
    width: 40px;
    height: 24px;
    border: 1px solid rgb(36, 192, 193);
    overflow: hidden;
    border-radius: 24px;
    position: relative;
    transition: border-color 0.26s;
    user-select: none;
}

.toggle-button:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #24c0c1;
    border-radius: 50%;
    transform: translate(2px, 2px);
    transition: background 0.26s, transform 0.26s;
}

.toggle-button.on {
    border: 1px solid #fac32d;
}

.toggle-button.on:after {
    background: #fac32d;
    transform: translate(17px, 2px);
}

@media (min-width: 480px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .row {
        margin: 0 -15px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

/** Toaster **/

.toaster {
    position: fixed;
    bottom: 20px;
    right: 100px;
}

.toaster-item {
    display: block;
    opacity: 1;
    background: #2c2c2c;
    color: white !important;
    width: 300px;
    padding: 15px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: 10px;
    position: relative;
    padding-left: 36px;
    padding-top: 35px;
    border: 1px solid #2c2c2c;
}

.toaster-item.show {
    opacity: 0.8;
}

.toaster-item.show:hover {
    opacity: 1;
}

.toaster-item::before {
    display: block;
    height: calc(100% - 30px);
    position: absolute;
    left: 23px;
    padding-left: 10px;
    top: 15px;
}

.toaster-item.ERROR::before {
    content: '錯誤';
    border-left: 3px solid #fa5c2d;
    color: #fa5c2d;
}

.toaster-item.WARN::before {
    content: '警告';
    border-left: 3px solid #fac32d;
    color: #fac32d;
}

.toaster-item.INFO::before {
    content: '訊息';
    border-left: 3px solid #2daffa;
    color: #2daffa;
}

a.toaster-item::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c1';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}