.main .auth-google {
    background: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    box-shadow: none;
}

.main .intro {
    background: #e0e0e0;
    color: #666;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.main .intro article {
    max-width: 500px;
    position: relative;
    z-index: 2;
}

.main .intro #particles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url('/mindnote/imgs/main/bg.jpg');
    background-size: cover;
    opacity: 0.2;
}

.main .intro .sit-person {
    position: absolute;
    left: 840px;
    top: 210px;
    z-index: 1;
    transform: scale(1.5);
}

.main .intro .through-bar {
    width: 990px;
    height: 220px;
    position: absolute;
    background: #b64e4e;
    transform: rotate(-45deg);
    top: 120px;
    z-index: 0;
    left: 390px;
}

.main .intro article h1 {
    font-size: 5em;
}

.main .intro h1 {
    border: none;

}

.main .pricing .user-type {
    display: flex;
    padding-left: 140px;
}

.main .pricing .user-type>* {
    flex: 1;
}

.main .pricing .user-type>*>div {
    width: 120px;
    height: 120px;
    color: white;
    line-height: 120px;
    text-align: center;
    margin: 20px 0;
}

.main .pricing .user-type .free-user {
    background: #999;
}

.main .pricing .user-type .paid-user {
    background: #24c0c2
}

@media (max-width: 992px) {
    .main .pricing>* {
        margin-top: 20px;
    }
}

.main .pricing p {
    font-weight: bolder;
}

.main .pricing .price,
.main .pricing .storage-usage,
.main .pricing .boards-limit {
    display: flex;
    margin-top: 20px;
}

.main .pricing .price>*,
.main .pricing .storage-usage>*,
.main .pricing .boards-limit>* {
    flex: 1;
    text-align: center;
}

.main .pricing .price>label,
.main .pricing .storage-usage>label,
.main .pricing .boards-limit>label {
    text-align: left;
    width: 140px;
    flex: auto;
    flex-grow: inherit;
}