.tab ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background: #2c2c2c;
    color: white;
}

.tab ul li {
    min-height: 40px;
    line-height: 40px;
    flex: 1 1 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.tab ul li::after {
    width: 1px;
    height: 30px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
}

.tab ul li:hover {
    background: rgb(44, 79, 106);
}

.tab ul li.selected {
    border-bottom: 4px solid rgb(35, 124, 193);
}

.tab ul li .expand {
    background: none;
    border: none;
    color: rgb(35, 192, 193);
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    width: 20px;
}

.tab ul li svg {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: 10px;
}